@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Utility Classes */
@layer utilities {
  .shadow-user {
    @apply shadow-lg;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  }

  .shadow-bot {
    @apply shadow-md;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  }
}

/* Root Variables and Backgrounds */
@layer base {
  :root {
    background-image: url('/logo-fondo.svg'), url('/fondo-1.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    --foreground: 0 0% 0%;
    --card: 50 100% 95%;
    --card-foreground: 0 0% 100%;
    --popover: 50 100% 95%;
    --popover-foreground: 0 0% 0%;
    --primary: 45 100% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 45 100% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 45 100% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 45 100% 70%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 45 100% 70%;
    --input: 45 100% 90%;
    --ring: 45 100% 40%;
    --radius: 0.5rem;
  }

  .dark {
    background-image: url('/logo-fondo.svg'), url('/fondo-2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* Base Styles */
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  input,
  textarea,
  select {
    @apply text-black;
  }

  .dark input,
  .dark textarea,
  .dark select {
    @apply text-white; /* Ajusta el color del texto en las casillas de formularios en el tema oscuro */
  }
}

.loader {
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}